*{
    margin: 0; padding: 0; border: none;  font-family: "Mulish", sans-serif;;
}

header{
    width: 100%;
}

 /* Navbar Section  */
.navbar{
    display: flex;
    justify-content: space-around;
    padding-top: 1.8rem;
   
}

.logo-heading{
    display: flex;
    gap: 0.8rem;
}

.logo{
    width: 10%;
}

.navbar-title{
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
    }

.navbar-title-red{
    color: #FF5400;
    font-size: 2.25rem;;
    font-weight: 800;
    }
    
    .navbar ul {
        display: flex;
        align-items: center;
        
    }
    
    .navbar ul li{
        list-style: none;
        padding-right: 2rem;
        
    }
    .navbar ul li a {
    color: #424247;
    text-decoration: none;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
    }

#home{
    color: #FF5400;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 700;
    }

/* Banner Section */

.banner{
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    background-size: cover;
    border-radius: 1rem;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 32rem;
    margin: 3rem 8rem 0rem 8rem;
    background-position: center;
}

.banner-content{
    text-align: center;
    align-items: center;
    padding-top: 7rem;
}
.banner-title{
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    padding-bottom: 1.2rem;
}

.banner-para{
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    padding: 0 15rem;
    
}

.input-bg{
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.30);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 1rem;
    justify-content: center;
    gap: 1.5rem;
    margin: 3rem 10rem;
}

.input-text{
    width: 10.875rem;
    height: 1.25rem;
    border-radius: 0.5rem;
    background: #FFF;
    padding: 1rem;
}
#input-submit{
    width: 10.875rem;
    height: 3rem;
    border-radius: 0.5rem;
    background: #FF5400;
    border: none;

    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

/* Tour Section */

.tour{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin: 6rem 8rem;
}

.tour-title{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    padding-bottom: 1rem;
}

.tour-para{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 1rem;
    
}
.tour-list{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    padding-left: 1.5rem;
}

.tour-list li{
    padding-bottom: 1.5rem;
}

.btn-primary{
    margin-top: 2rem;
    border-radius: 0.5rem;
    background: #FF5400;
    border: none;
    padding: 0.8rem 2rem;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
    cursor: pointer;
}
.tour-img{
    width: 28rem;
}


/* Gallery Section */

.gallery{
    margin: 1rem 8rem;
    text-align: center;
}
.gallery-para{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    padding: 0rem 15rem 2rem 15rem;
}

.row1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.row2{
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.3rem;
}
.row3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-bottom: 4rem;
}


/* Card Section */
.card-section{
    margin: 1rem 8rem;
}
.card-container{
    display: flex;
    gap: 1rem;
}

.middle-para{
    text-align: center;
}
.card-title{
    text-align: center;
}
.card1{
    width: 30rem;
    border-radius: 1rem;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 2rem;
}
.card2{
    width: 30rem;
    border-radius: 1rem;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 2rem;
}
.card3{
    width: 30rem;
    border-radius: 1rem;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 2rem;
}
.third-card{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}
.card-titles{
    padding: 1.5rem 0 1rem 0;
}







/* Newsletter Section */

.form{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    margin: 2rem 8rem;
}

.newsletter{
    border-radius: 1rem;
    border: 1px solid #FF5400;
    padding: 2.5rem;
}
.form-title{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    padding-bottom: 0.5rem;
}

.form-para{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    padding-right: 4rem;
}

.hr{
    border: 1px solid rgba(19, 19, 24, 0.10);
    margin: 1.5rem 2.5rem 1.5rem 0rem
}

.input-info{
    border-radius: 0.5rem;
    background: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.30);
    font-size: 1rem;
    font-weight: 400;
    padding: 1rem;
    display: block;
    margin-top: 1rem;
    width: 24.5625rem;
}

.btn-subscribe{
    border-radius: 0.5rem;
    background: #FF5400;    

    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
    border: none;
    width: 26.5rem;
    height: 3rem; 
    margin-top: 1.5rem;
    cursor: pointer;
}

.form-img{
position: relative;
}

.cuppon{
    left: 60rem;
    bottom: 13rem;
    position: relative;
    border-radius: 1rem;
    background: #FF5400;
    width: 19rem;
    height: 6rem;
    transform: rotate(-19.628deg);
    padding: 1rem 1rem 0rem 1rem;
}

.cuppon-text-site{
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
}

.cuppon-discount-text{
    color: #FFF;
    font-size: 2rem;
    font-weight: 800;
    padding: 0rem 0rem 0rem 2rem;
    }

/* Footer Section */

footer{
    height: 31.375rem;
    background: rgba(19, 19, 24, 0.05);
}
.footer-logo-heading{
    padding-top: 6rem;
    display: flex;
    justify-content: center;
    gap: 0.8rem;
}

.footer-para{
    color: #5A5A5D;
    text-align: center;;
    font-size: 1rem;
    font-weight: 400;
    padding: 1rem 20rem;
}
#social{
    display: flex;
    justify-content: center;
    margin: 2rem;
}

hr{
    border: 1px solid rgba(19, 19, 24, 0.10);
    margin: 0 17rem;
    margin-bottom: 4rem;
}



@media screen and (max-width: 600px) {
    .header{
        /* width: 100%; */
        padding: 20px;
        overflow: hidden;
    }
    .navbar, .tour{
        flex-direction: column;
        padding-left: 1.5rem;
        
    }
    .navbar ul{
        padding-top: 1rem;
    }
    .logo-heading{
        gap: 0.3rem;
        margin-left: 3.5rem;
        padding-bottom: 1rem;
    }
    .banner{
        margin-left: 1rem;
        width: 60rem;
        height: 40rem;
        margin: 3rem 5rem 0rem 3.5rem
    }
    .banner-title{
        font-size: 1.3rem;
    }
    
    .banner-para{
        color: #FFF;
        font-size: 0.875rem;
        padding: 0 1rem;
    }
    .input-bg{
        margin: 2rem 5rem;
    }
    .input-text{
        margin: 1rem 0rem;
    }
    #input-submit{
        width: 13rem;
    }
    .btn-primary{
        margin-left: 3rem;
    }

    .tour{
        flex-direction: column;
        margin: 4rem 1rem 4rem 6rem;
    }
    .tour-title{
        font-size: 1.25rem;
        font-weight: 800;
        padding-bottom: 1rem;
    }
    
    .tour-para{
        color: rgba(19, 19, 24, 0.70);
        font-size: 0.8rem;
        font-weight: 400;
        padding-bottom: 1rem;
        
    }
    .tour-list{
        color: rgba(19, 19, 24, 0.70);
        font-size: 0.8rem;
        font-weight: 400;
        padding-left: 1.5rem;
    }
    
    .tour-list li{
        padding-bottom: 1.5rem;
    }
    .tour-img{
        width:30rem;
    }


    .gallery{
        margin: 1rem 1rem;
        text-align: center;
    }
    .gallery-content{
        margin-left: 5rem;
    }
    .gallery-para{
        font-size: 0.8rem;
        font-weight: 400;
        padding: 0rem 0rem 2rem 0rem;
    }
    .row{
        width: 30.5rem;
        height: 16rem;
    }
    .row-sm{
        width: 30.5rem;
        height: 16rem;
    }
    .row1{
        grid-template-columns: repeat(1,1fr);
        gap: 1rem;
        
    }
    .row2{
        margin: 1rem 0;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }
    .row3{
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        margin-bottom: 4rem;
    }

    .card-section{
        margin: 1rem 2rem;
    }
    .card-container{
        flex-direction: column;
    }

    .card-content{
        margin-left: 7rem;
    }
    .third-card{
        width: 28.5rem;
    }
    .card1, .card2, .card3 {
        width: 24.5rem;
    }

    footer{
        width: 32.49rem;
    }
    .footer-logo-heading{
        gap: 0.3rem;
        margin-left: 0.5rem;
        padding-bottom: 1rem;
    }
    hr{
        border: 1px solid rgba(19, 19, 24, 0.10);
        margin: 0 1rem;
        margin-bottom: 2rem;
    }
    .footer-para {font-size: 0.8rem;
        font-weight: 400;
        padding: 0rem 3rem 2rem 3rem;
    }
    .newsletter{
        width: 25rem;
    }
    .hr{
        margin: 1.5rem 1.5rem 1.5rem 0rem
    }
    .form-para{
        font-size: 0.87rem;
        padding-right: 1.5rem;
    }
    .form{
        flex-direction: column;
        margin: 2rem 1rem;
    }
    .form-img{
        width: 30rem;
    }
    .input-info{
        width: 22rem;
    }
    .btn-subscribe{
        width: 24rem;
    }
    .cuppon{
        left: 11rem;
        bottom: 11.5rem;
        width: 17rem;
        height: 5rem;
        padding: 1rem 1rem 0rem 1rem;
    }
    
    .cuppon-text-site{
        font-size: 0.99088rem;
    }
    
    .cuppon-discount-text{
        font-size: 1.32113rem;
        padding: 0rem 0rem 0rem 4rem;
        }
    
}

